body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ff9900; /* Passendes Orange für das 212. Angriffsbataillon */
}
